<?xml version='1.0' encoding='utf-8'?>
<plugin id="runchain-cordova-plugin-log2file" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>runchain-cordova-plugin-log2file</name>
    <js-module name="runchain-cordova-plugin-log2file" src="www/runchain-cordova-plugin-log2file.js">
        <clobbers target="log2file" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="log2file" >
                <param name="android-package" value="com.runchain.plugins.log2file.Log2FileUtils"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
       <source-file src="src/android/Log2FileUtils.java" target-dir="app/src/main/java/com/runchain/plugins/log2file" />
       <source-file src="libs/android/logback-android-1.3.0-3.aar" target-dir="app/libs" />
       <source-file src="libs/android/slf4j-api-1.7.25.jar" target-dir="app/libs" />
    </platform>
</plugin>
